<div class="card zombi_datatables_frame">
    <div class="card-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end form-inline">
            
            <h6><span class="i18n" data-i18n="CODE">CODE</span></h6>
            
            <div class="btn-group ml-auto mr-1">
                <button id="code_refresh" type="button" class="btn btn-primary btn-sm">
                    <span class="i18n" data-i18n="REFRESH">REFRESH</span>
                </button>
            </div>

        </nav>
    </div>
    <div class="card-body">

            <div id="code_table_container"></div>

    </div>
</div>

<!-- https://stackoverflow.com/questions/18432394/how-to-make-twitter-bootstrap-modal-full-screen -->
<div class="modal fade" id="code_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog mw-100 w-75" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>

            <div class="modal-body">
                <!-- <textarea id="code_text"></textarea> -->
                <pre id="code_text" class="prettyprint"></pre>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
    
        
        
        
        