<div class="card zombi_datatables_frame">
        <div class="card-header">
            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
                <h6><span class="i18n" data-i18n="SYSTEM_GROUPS">SYSTEM_GROUPS</span></h6>
    
                <div class="btn-group ml-auto mr-1">
    
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="groups_table_search"><span class="i18n" data-i18n="SEARCH">SEARCH</span></label>
                            <input type="text" id="groups_table_search" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
    
                </div>
    
                <div class="btn-group ml-auto mr-1">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="i18n" data-i18n="ACTIONS">ACTIONS</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button id="groups_table_group_add" class="dropdown-item" type="button"><strong><span class="i18n" data-i18n="NEW_GROUP">NEW_GROUP</span></strong></button>
                        <button id="groups_table_refresh" class="dropdown-item" type="button"><span class="i18n" data-i18n="REFRESH_TABLE">REFRESH_TABLE</span></button>
                        <button id="groups_table_download" class="dropdown-item" type="button"><span class="i18n" data-i18n="DOWNLOAD">DOWNLOAD</span></button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <table id="groups_table" class="table table-sm">
                <thead>
                    <tr>
                        <th><span class="i18n" data-i18n="EDIT">EDIT</span></th>
                        <th><span class="i18n" data-i18n="NAME">NAME</span></th>
                        <th><span class="i18n" data-i18n="DESCRIPTION">DESCRIPTION</span></th>
                        <th><span class="i18n" data-i18n="MEMBERS">MEMBERS</span></th>
                        <th><span class="i18n" data-i18n="MODULES">MODULES</span></th>
                        <th><span class="i18n" data-i18n="CREATED_BY">CREATED_BY</span></th>
                        <th><span class="i18n" data-i18n="CREATION_DATE">CREATION_DATE</span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    
    
    
    
    
    