<div class="card zombi_datatables_frame">
    <div class="card-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
            <h6><span class="i18n" data-i18n="LABELS">LABELS</span></h6>

            <div class="btn-group ml-auto mr-1">

                <div class="form-inline">
                    <div class="form-group">
                        <label for="labels_table_search"><span class="i18n" data-i18n="SEARCH">SEARCH</span></label>
                        <input type="text" id="labels_table_search" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                    </div>
                </div>

            </div>

            <div class="btn-group ml-auto mr-1">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="i18n" data-i18n="ACTIONS">ACTIONS</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button id="labels_table_label_add" class="dropdown-item" type="button"><strong><span class="i18n" data-i18n="NEW_LABEL">NEW_LABEL</span></strong></button>
                    <button id="labels_table_refresh" class="dropdown-item" type="button"><span class="i18n" data-i18n="REFRESH_TABLE">REFRESH_TABLE</span></button>
                    <button id="labels_table_download" class="dropdown-item" type="button"><span class="i18n" data-i18n="DOWNLOAD">DOWNLOAD</span></button>
                </div>
            </div>
        </nav>
    </div>
    <div class="card-body over-x">
        <table id="labels_table" class="table table-sm">
            <thead>
                <tr>
                    <th>EDIT</th>
                    <th><span class="i18n" data-i18n="LABEL">LABEL</span></th>
                    <th><span class="i18n" data-i18n="LANG_ES">ES</span></th>
                    <th><span class="i18n" data-i18n="LANG_PT">PT</span></th>
                    <th><span class="i18n" data-i18n="LANG_EN">EN</span></th>
                    <th><span class="i18n" data-i18n="LANG_FR">FR</span></th>
                    <th><span class="i18n" data-i18n="LANG_DE">DE</span></th>
                    <th><span class="i18n" data-i18n="LANG_IT">IT</span></th>
                    <th><span class="i18n" data-i18n="LANG_KO">KO</span></th>
                    <th><span class="i18n" data-i18n="LANG_JA">JA</span></th>
                    <th><span class="i18n" data-i18n="LANG_HE">HE</span></th>
                    <th><span class="i18n" data-i18n="LANG_RU">RU</span></th>
                    <th><span class="i18n" data-i18n="LANG_ZH">ZH</span></th>
                    <th><span class="i18n" data-i18n="DETAILS">ZH</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

    
    
    
    
    