<div class="card zombi_datatables_frame">
    <div class="card-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
            
            <h6><span class="i18n" data-i18n="LOG">LOG</span></h6>
            
            <div class="btn-group ml-auto mr-1">
                <button id="radio_log_refresh" type="button" class="btn btn-primary btn-sm">
                    <span class="i18n" data-i18n="REFRESH">REFRESH</span>
                </button>
            </div>

        </nav>
    </div>
    <div class="card-body" style="overflow-y: auto;">
        <div id="radio_log_table_container"></div>
    </div>
</div>