<h4>
    <small class="text-muted">
        <span class="i18n" data-i18n="SERVER_NAME">SERVER_NAME</span>: 
    </small>
    <span id="server_status_server_name">?</span>
</h4>
<h4>
    <small class="text-muted">
        <span class="i18n" data-i18n="PLATFORM">PLATFORM</span>: 
    </small>
    <span id="server_status_server_platform">?</span>
</h4>
<h4>
    <small class="text-muted">
        <span class="i18n" data-i18n="RELEASE">RELEASE</span>: 
    </small>
    <span id="server_status_server_release">?</span>
</h4>
<h4>
    <small class="text-muted">
        <span class="i18n" data-i18n="CPU">CPU</span>: 
    </small>
    <span id="server_status_server_cpu">?</span>
</h4>
<h4>
    <small class="text-muted">
        <span class="i18n" data-i18n="MEMORY">MEMORY</span>: 
    </small>
    <span id="server_status_server_memory">?</span>
</h4>
<h4>
    <small class="text-muted">
        <span class="i18n" data-i18n="RESPONSE_TIME">RESPONSE_TIME</span> [ms]: 
    </small>
    <span id="server_status_server_response">?</span>
</h4>

