<div class="card zombi_datatables_frame">
    <div class="card-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
            
            <h6><span class="i18n" data-i18n="SESSIONS">SESSIONS</span></h6>
             
            <div class="btn-group ml-auto mr-1">
                <button id="sessions_refresh" type="button" class="btn btn-primary btn-sm">
                    <span class="i18n" data-i18n="REFRESH">REFRESH</span>
                </button>
            </div>

        </nav>
    </div>
    <div class="card-body">

        <table id="sessions_table" class="table table-sm">
            <thead>
                <tr>
                    <th><span class="i18n" data-i18n="USER">USER</span></th>
                    <th><span class="i18n" data-i18n="TOKEN">TOKEN</span></th>
                    <th><span class="i18n" data-i18n="DATA">DATA</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>





