<div class="card zombi_datatables_frame">
    <div class="card-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
            
            <h6><span class="i18n" data-i18n="TRAFFIC">TRAFFIC</span></h6>

            <div class="btn-group ml-auto mr-1">
                <label class="custom-control material-switch">
                    <input type="checkbox" class="material-switch-control-input" id="traffic_enable">
                    <span class="material-switch-control-indicator"></span>
                    <span class="material-switch-control-description"><span class="i18n" data-i18n="ENABLE">ENABLE</span></span>
                </label>
            </div>

            
            <div class="btn-group ml-auto mr-1">
                <button id="traffic_clear" type="button" class="btn btn-primary btn-sm">
                    <span class="i18n" data-i18n="CLEAR">CLEAR</span>
                </button>
            </div>

        </nav>
    </div>
    <div class="card-body">

        <table id="traffic_table" class="table table-sm">
            <thead>
                <tr>
                    <th><span class="i18n" data-i18n="SEQUENCE">SEQUENCE</span></th>
                    <th><span class="i18n" data-i18n="REQUEST">REQUEST</span></th>
                    <th><span class="i18n" data-i18n="RESPONSE">RESPONSE</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>





