<header class="bg-white shadow mb-4 mt-2">
    <div class="max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
            <span class="i18n">USERS</span>
        </h1>
        <div class="text-gray-600">Nuevo Usuario</div>
    </div>
</header>

<div class="flex flex-col">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
                <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                    <div>
                        <p class="leading-5 text-gray-700">
                            Labels
                        </p>
                    </div>
                    <div>
                        <span class="users_table_search text-sm leading-5 text-gray-700">
                            Search
                        </span><input type="text">
                    </div>
                </div>
            </div>
            <table class="users_table min-w-full">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Name
                        </th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Title
                        </th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Status
                        </th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Role
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 h-10 w-10">
                                    <img class="h-10 w-10 rounded-full"
                                        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                        alt="" />
                                </div>
                                <div class="ml-4">
                                    <div class="text-sm leading-5 font-medium text-gray-900">Bernard Lane</div>
                                    <div class="text-sm leading-5 text-gray-500">bernardlane@example.com</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-900">Director</div>
                            <div class="text-sm leading-5 text-gray-500">Human Resources</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <span
                                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                Active
                            </span>
                        </td>
                        <td
                            class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                            Owner
                        </td>
                        <td
                            class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                            <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="bg-white px-4 py-3 flex items-center justify-end sm:justify-between border-t border-gray-200 sm:px-6">
                <div class="hidden sm:block">
                    <p class="text-sm leading-5 text-gray-700">
                        Showing
                        <span class="font-medium">1</span>
                        to
                        <span class="font-medium">10</span>
                        of
                        <span class="font-medium">97</span>
                        results
                    </p>
                </div>
                <div class="flex items-end">
                    <a href="#"
                        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                        <span class="i18n">PREVIOUS</span>
                    </a>
                    <a href="#"
                        class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                        <span class="i18n">NEXT</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- table end -->


<!-- <div class="card zombi_datatables_frame">
    <div class="card-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
            <h6><span class="i18n" data-i18n="LABELS">LABELS</span></h6>

            <div class="btn-group ml-auto mr-1">

                <div class="form-inline">
                    <div class="form-group">
                        <label for="users_table_search"><span class="i18n" data-i18n="SEARCH">SEARCH</span></label>
                        <input type="text" id="users_table_search" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                    </div>
                </div>

            </div>

            <div class="btn-group ml-auto mr-1">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="i18n" data-i18n="ACTIONS">ACTIONS</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button id="users_table_label_add" class="dropdown-item" type="button"><strong><span class="i18n" data-i18n="NEW_LABEL">NEW_LABEL</span></strong></button>
                    <button id="users_table_refresh" class="dropdown-item" type="button"><span class="i18n" data-i18n="REFRESH_TABLE">REFRESH_TABLE</span></button>
                    <button id="users_table_download" class="dropdown-item" type="button"><span class="i18n" data-i18n="DOWNLOAD">DOWNLOAD</span></button>
                </div>
            </div>
        </nav>
    </div>
    <div class="card-body over-x">
        <table id="users_table" class="table table-sm">
            <thead>
                <tr>
                    <th>EDIT</th>
                    <th><span class="i18n" data-i18n="LABEL">LABEL</span></th>
                    <th><span class="i18n" data-i18n="LANG_ES">ES</span></th>
                    <th><span class="i18n" data-i18n="LANG_PT">PT</span></th>
                    <th><span class="i18n" data-i18n="LANG_EN">EN</span></th>
                    <th><span class="i18n" data-i18n="LANG_FR">FR</span></th>
                    <th><span class="i18n" data-i18n="LANG_DE">DE</span></th>
                    <th><span class="i18n" data-i18n="LANG_IT">IT</span></th>
                    <th><span class="i18n" data-i18n="LANG_KO">KO</span></th>
                    <th><span class="i18n" data-i18n="LANG_JA">JA</span></th>
                    <th><span class="i18n" data-i18n="LANG_HE">HE</span></th>
                    <th><span class="i18n" data-i18n="LANG_RU">RU</span></th>
                    <th><span class="i18n" data-i18n="LANG_ZH">ZH</span></th>
                    <th><span class="i18n" data-i18n="DETAILS">ZH</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

    
    
    
    
     -->

<!-- 

<div class="card zombi_datatables_frame">
    <div class="card-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
            <h6><span class="i18n" data-i18n="SYSTEM_USERS">SYSTEM_USERS</span></h6>

            <div class="btn-group ml-auto mr-1">

                <div class="form-inline">
                    <div class="form-group">
                        <label for="users_table_search"><span class="i18n" data-i18n="SEARCH">SEARCH</span></label>
                        <input type="text" id="users_table_search" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                    </div>
                </div>

            </div>

            <div class="btn-group ml-auto mr-1">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="i18n" data-i18n="ACTIONS">ACTIONS</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button id="users_table_user_add" class="dropdown-item" type="button"><strong><span class="i18n" data-i18n="NEW_USER">NEW_USER</span></strong></button>
                    <button id="users_table_refresh" class="dropdown-item" type="button"><span class="i18n" data-i18n="REFRESH_TABLE">REFRESH_TABLE</span></button>
                    <button id="users_table_download" class="dropdown-item" type="button"><span class="i18n" data-i18n="DOWNLOAD">DOWNLOAD</span></button>
                </div>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <table id="users_table" class="table table-sm">
            <thead>
                <tr>
                    <th><span class="i18n" data-i18n="EDIT">EDIT</span></th>
                    <th><span class="i18n" data-i18n="MESSAGE">MESSAGE</span></th>
                    <th><span class="i18n" data-i18n="USERNAME">USERNAME</span></th>
                    <th><span class="i18n" data-i18n="FULL_NAME">FULL_NAME</span></th>
                    <th><span class="i18n" data-i18n="ADMINISTRATOR">ADMINISTRATOR</span></th>
                    <th><span class="i18n" data-i18n="EMAIL">EMAIL</span></th>
                    <th><span class="i18n" data-i18n="LANGUAGE">LANGUAGE</span></th>
                    <th><span class="i18n" data-i18n="COUNTRY">COUNTRY</span></th>
                    <th><span class="i18n" data-i18n="TIMEZONE">TIMEZONE</span></th>
                    <th><span class="i18n" data-i18n="CREATION_DATE">CREATION_DATE</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>




 -->
